:root.theme-dark {
    --accent-color: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.40);
    --back-img: url("../images/cover-image-dark.png");
    --background-color: #000028;
    --text-color: #F1B2CE;
    --text-title-color: #FF0070;
    --header-title-color: #DB00FF;
}

.theme-dark .header__rec {
    display: block;
}