:root.theme-light {
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --hover-color: rgba(50, 49, 45, 0.40);
    --back-img: url("../images/cover-image-light.png");
    --text-color: #353430;
    --text-title-color: #353430;
    --header-title-color: #FFC2E6;;
}

    .header__rec {
    display: none;
}
    .header__title {
        -webkit-text-stroke-color: transparent;
    }

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #FFF1F7;
        --accent-color: #FF8DCB;
        --hover-color: rgba(50, 49, 45, 0.40);
        --back-img: url("../images/cover-image-light.png");
        --text-color: #353430;
        --text-title-color: #353430;
    }

    .header__rec {
        display: none;
    }
}