.page {
    background-image: var(--back-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--background-color);
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
    block-size: 100vh;
    position: relative;
    padding: 10px;
}

.header__rec {
    top: 10px;
    right: 10px;
    color: var(--accent-color);
    font-family: var(--main-font), sans-serif;
    position: absolute;
    align-self: start;
    justify-self: end;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.header__rec:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    filter: drop-shadow(0 0 4px #FF0070);
    background-color: #FF0070;
    margin-block-start: 8px;
    margin-inline-start: 10px;
    margin-inline-end: 9px;
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--text-title-color);
}

.header__theme-menu-button {
    color: var(--text-title-color);
    background-color: transparent;
    border: 1px solid transparent;
    text-transform: lowercase;
    text-align: center;
    align-items: center;
    font-family:  var(--main-font), sans-serif;
    padding: 1.5px 13px;
    font-size: 18px;
    min-height: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    block-size: 100%;
    inline-size: 100%;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--hover-color)
}

.header__theme-menu-button:focus-visible {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--accent-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button_active {
    border: 1px solid var(--text-title-color);
    pointer-events: none;
}

.decorated-zone {
    position: relative;
}

.decorated-zone:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--text-title-color);
    border-right: 1px solid var(--text-title-color);
}

.decorated-zone:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--text-title-color);
    border-left: 1px solid var(--text-title-color);
}

.header__title {
    color: var(--header-title-color);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px 0 var(--accent-color);
    font-family: var(--main-font), sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.header__subtitle {
    align-self: center;
}

.title__decor {
    color: #000028;
    font-family: var(--main-font), sans-serif;
    background-color: var(--accent-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
}

.page__section {
    padding: 10px;
    margin-block-start: 10px;
}

.page__section:first-of-type {
    margin-block-start: 30px;
}

.page__section:last-of-type {
    margin-block-end: 10px;
}

.thin__title {
    margin-block-start: 20px;
    margin-block-end: 10px;
    font-weight: 400;
}

.section__title {
    color: var(--text-title-color);
    font-family: var(--main-font), sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px; /* 130% */
    margin-bottom: 20px;
}

.section__text {
    color: var(--text-color);
    font-family: var(--main-font), sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px; /* 130% */
    margin-block-start: 10px;
    margin-block-end: 20px;
}

.section__how {
    margin-block-end: 20px;
}

.gallery__section {
    margin-block-end: 50px;
    margin: 10px;
}

.gallery {
    display: grid;
    gap: 10px;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__title {
    margin-block-end: 10px;
}

.section__link {
    text-shadow: 2px 2px 0 var(--accent-color);
    text-decoration: none;
}

.section__link:hover {
    border-bottom: 1px solid var(--text-color);
}

.section__link:focus {
    outline: none;
}

.section__link:focus-visible {
    outline: 1px solid var(--text-color);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 355px;
    min-height: 648px;
    block-size: 100vh;
    margin-block-start: 40px;
}

.footer__title {
    text-shadow: 2px 2px 0 var(--accent-color);
    -webkit-text-stroke: transparent;
    text-align: center;
}

@media (width >= 768px) {
    .header__title {
        margin-inline-start: -20px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        -webkit-text-stroke: transparent;
    }

    .header {
        padding: 20px;
    }

    .header__rec {
        top: 20px;
        right: 20px;
    }

    .decorated-zone:before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone:after {
        left: 20px;
        bottom: 20px;

    }

    .header__subtitle {
        justify-self: end;
        margin-inline-start: 363px;
    }

    .footer__title {
        margin-inline-start: 0;
    }

    .section__title {
        width: 236px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: dense;
        gap: 20px;
        max-height: 780px;
        margin-block-end: 60px;
    }

    .gallery__image:nth-child(1) {
        grid-column: span 2;
    }

    .gallery__image:nth-child(2) {
        grid-row: span 2;
    }

    .gallery__image:nth-child(3) {
        grid-row: span 2;
    }

    .gallery__image:nth-child(5) {
        grid-column: span 2;
    }

    .gallery__title {
        margin-block-end: 20px;
    }

    .page__section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
        margin-block-start: 80px;
        padding: 20px;
    }

    .page__section:first-of-type {
        margin-block-start: 40px;
    }

    .section__why .card {
        grid-column:  2/4;
    }

    .section__what {
        grid-template-columns: none;
        margin-block-start: 20px;
    }

    .section__how {
        grid-template-columns: 1fr 2fr;
        margin-block-start: 20px;
        margin-block-end: 60px;
        column-gap: 20px;
    }

    .section__how .section__text {
        margin-block-end: 0;
    }

    .thin__title {
        margin-block-start: 20px;
        margin-block-end: 10px;
    }

    .section__how .card {
        grid-column: 2/4;
    }

    .gallery__section {
        margin: 20px;
    }

    .footer {
        padding: 20px;
    }
}

@media (width >= 1024px) {

    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row ;
    }

    .header__subtitle {
        justify-self: end;
        margin-inline-start: 493px;
    }

    .page__section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .section__title {
        min-width: 315px;
    }

    .section__what .section__title {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }

    .section__how {
        grid-template-columns: min-content 1fr;
    }

    .gallery__section {
        margin-block-end: 330px;
    }
}